@import url('main.css');

.root{
    -fx-base: #1f1f1f;
    -fx-background: #1f1f1f;
}

/* the code area */
.styled-text-area {
    -fx-background-color: #1f1f1f;
    -fx-text-fill: #D4D4D4;
}

.caret { /* cursor */
    -fx-stroke: #FFFFFF;
    -fx-stroke-width: 1.4;
}
/* Selected text zone*/
.styled-text-area .selection {
    -fx-fill: rgba(255, 255, 255, 0.1);
}
/* Text color */
.styled-text-area .text {
    -fx-fill: #D4D4D4;
}
/* Type */
.styled-text-area .text.type {
    -fx-fill: #4EC9B0;
}
/* Operator*/
.styled-text-area .text.operator {
    -fx-fill: #A9B7C6;
}
/* Instruction */
.styled-text-area .text.instruction {
    -fx-fill: #C586C0;
}
/* Class keyword*/
.styled-text-area .text.class {
    -fx-fill: #569CD6;
}
/* Method */
.styled-text-area .text.main, .styled-text-area .text.method {
    -fx-fill: #DCDCAA;
}
/* Comment */
.styled-text-area .text.comment {
    -fx-fill: #6A9955;
}
/* Variable */
.styled-text-area .text.var {
    -fx-fill: #9CDCFE;
}
/* Integer */
.styled-text-area .text.integer {
    -fx-fill: #B5CEA8;
}
/* String */
.styled-text-area .text.string {
    -fx-fill: #CE9178;
}
/* Parenthesis */
.styled-text-area .text.paren {
    -fx-fill: #C586C0;
}
/* Brackets / Braces */
.styled-text-area .text.brace , .styled-text-area .text.bracket{
    -fx-fill: #efd807;
}
/* punctuation */
.styled-text-area .text.semicolon, .styled-text-area .text.comma  {
    -fx-fill: #D4D4D4;
}
/* Boolean */
.styled-text-area .text.boolean {
    -fx-fill: #569CD6;
}

.styled-text-area .lineno /*rect line number*/
{
    -fx-background-color: #1f1f1f;
    -fx-cursor: default;
}

.lineno-box {
    -fx-cursor: hand;
    -fx-alignment: center-left;
    -fx-border-color: #808080;
    -fx-border-width: 0 1px 0 0;
 }

.lineno-box .text { /* line number */
    -fx-fill: #808080;
}

.styled-text-area#codeMinijaja .paragraph-box:has-caret { /* line is selected draw a rect*/
   -fx-background-color: transparent;
   -fx-border-color: #808080;
   -fx-border-width: 0.15px;
}

.styled-text-area#codeMinijaja .paragraph-box:has-caret .lineno-box .text { /* white number if line is selected*/
    -fx-fill: #FFFFFF;
}

/*bottom status bar*/
#statusBarContainer {
    -fx-background-color: #2c2c2c;
}
/* top Menu bar */
.menu-bar {
    -fx-background-color: #2c2c2c;
}
/* Labels in the menu bar*/
.menu-bar .label {
    -fx-text-fill: #f5f5f5; /* white smock*/
}
/*Alternate menu bar labels*/
.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background-color: #353535;
    -fx-opacity: 1;
}
/* individual Menu items*/
.menu-item {
    -fx-background-color: #1d1d1d;
    -fx-opacity: 1;
}
/*Alternate menu items*/
.menu-item:hover {
    -fx-background-color: #3d3d3d;
}
/* Separator in menu*/
.context-menu > * > .separator > .line {
    -fx-border-color: #4b4b4b;
}
/*Context menu (whatever that is )*/
.menu .context-menu {
    -fx-background-color: transparent;
}

.menu .context-menu .label { /* white text in context menu*/
    -fx-text-fill: #f5f5f5; /* white smock*/
}
/* Tab title */
.tab .tab-label { /* color name file */
    -fx-text-fill: #969688;
}
/* Selected tab */
.tab:selected { /* color file opened */
    -fx-background-color: #1E1E1E;
}

.tab .tab-close-button { /* color cross file not selected */
    -fx-background-color: none;
}

.tab:selected > .tab-container > .tab-close-button { /* color cross file selected */
    -fx-background-color: #FFFFF7;
}

.tab-pane *.tab-header-background, .titleWindows { /* color tab */
    -fx-background-color: #252526;
}

.tab:selected .tab-label { /* color name file selected */
    -fx-text-fill: #FFFFFF;
}

.subTitleMemory {
    -fx-background-color: #282727;
}